<nav class="tabbable"> <!-- Only required for left/right tabs -->

    <div class="tab-content">
	    <div class="tab-pane active" id="facebook">


<% if current_page?(dashboard_path) %>

			<h1>Variación semanal:
			<% if @var == 0 %>
				<span style="color:green">
			<% elsif @var > 0 %>
				<i class="icon-arrow-up"></i><span style="color:green">
			<% else %>
				<i class="icon-arrow-down"></i><span style="color:red">
			<% end %>
			<%= sprintf( "%0.01f", @var) %> %</span>
			</h1> 

			<div class="clearfix"></div>
			<div class="data_graph full_width">
              <div id="graph_engage_evolution_div"></div>
			</div>
			<div class="clearfix"></div>
			<div class="data_table">
  			  <div id="table"></div>
			</div>
<% elsif current_page?(dashboard_engage_path) %>
			<div class="engage_div">
				<%= render 'dashboard/layouts/engage_medals' %>
			</div>
			<div class="clearfix"></div>
			<div class="data_graph full_width">
              <div id="graph_div"></div>
			</div>
			<div class="clearfix"></div>
			<div class="data_table">
  			  <div id="table"></div>
			</div>

<% elsif current_page?(dashboard_general_path) %>
			<div class="competitors_div">
				<%= render 'dashboard/layouts/competitors' %>
			</div>

			<div class="data_graph full_width">
              <div id="graph_fans_div"></div>
			</div>
			<div class="clearfix"></div>
			<div class="data_graph full_width">
              <div id="graph_actives_div"></div>
			</div>
			<div class="clearfix"></div>
			<div class="data_table">
  			  <div id="table"></div>
			</div>
<% elsif current_page?(dashboard_empty_path) %>
			<div class="alert alert-block alert-error fade in">
				<button data-dismiss="alert" class="close" type="button">×</button>
				<h4 class="alert-heading">Aún no sigue a ningún competidor.</h4>
				<p>Para empezar a monitorizar, busca y sigue a tus competidores.</p>
				<p>
					<%= link_to "Añadir competidores", competitors_user_page_path(current_user, @page), class: "btn btn-danger" %>
				</p>
			</div>
			<div class="data_nil">
				<div class="center">
					<h1>Bienvenido a SocialWin Analytics</h1>										
				</div>
			</div>
			<div class="data_nil">
				<div class="center">
				  	<h2>Añada <strong>algún competidor</strong> para empezar a monitorizar.
				  		<br><br>Actualmente sigue a <%= @num_competitors || 0 %> competidores</h2>
				</div>
			</div>

	    </div>

<% end %>

    </div>
</nav>
