<% provide(:title, "Vista general") %> 

<%= render 'dashboard/charts/charts_general' %>

<div class="competitors_div">
	<%= render 'dashboard/layouts/competitors' %>
</div>
<%= render 'dashboard/shared/graph', :graph => "graph_fans_div" %>
<%= render 'dashboard/shared/graph', :graph => "graph_actives_div" %>
<%= render 'dashboard/shared/table' %>
