<!--
<div class="center">
  <h1>Bienvenido a SocialWin Analytics</h1>

  <h2>
    Analiza tu p치gina de Facebook con SocialWin Analytics.
  </h2>

</div>
-->


<h2>Analiza tu p치gina de Facebook con SocialWin Analytics.</h2>

<div class="center hero-unit">

	<div class="row">
		<div class="span5">
			<%= image_tag("/assets/chart_grow3.jpg", alt: "SocialWin", title: "SocialWin", class: "boxshadow") %>
		</div>
		<div class="span4">

				<%= link_to "Entra con Facebook", "/auth/facebook", class: "fbutton facebook ico pull-left" %>

		        <div class="clearfix"></div>
		        
		        <div style="text-align:left;">
		        	<p style="color:#3B5998;">Monitorizando m치s de <%=  @pages %> p치ginas</p>
		        	<!-- <li>Ya hay <%=  @users %> usuarios registrados1!</li> -->
		        </div>

		        <div class="clearfix"></div>

		        <div class="facepile">
		            <fb:facepile max_rows="2" width="580"></fb:facepile>
		        </div>

		</div>
<!-- 
	O
	<%= link_to "Entrar con Twitter", "/auth/twitter", class: "btn btn-large btn-info", style: "width: 140px;"  %>
-->    
	</div>

</div>
