<footer class="footer">


	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<ul class="clear">
				  <div class="row-fluid"><li><h2>Sobre Nosotros</h2></li></div>
				  <li><small><%= link_to "Quién somos",   'http://www.socialwin.es/nosotros/vision/' %></small></li>
				  <li><small><%= link_to "El método", 'http://www.socialwin.es/metodo-socialwin/metodo/' %></small></li>
				  <li><small><%= link_to "Servicios", 'http://www.socialwin.es/servicios/' %></small></li>
				  <li><small><%= link_to "Informes", 'http://www.socialwin.es/informes/' %></small></li>
				  <li><small><%= link_to "Notas de prensa", 'http://www.socialwin.es/prensa/' %></small></li>
				  <li><small><%= link_to "Contacto", 'http://www.socialwin.es/contacto/' %></small></li>
				</ul>
			</div>
			<div class="span4">
				<ul class="social_logos">
					<div class="row-fluid"><li><h2>En las Redes sociales</h2></li></div>
					<li><a title="Twitter" class="option1_32" style="background-position:-288px -32px" rel="nofollow" target="_blank" href="https://twitter.com/SocialWinApp"></a><span class="name">Síguenos en Twitter</span></li>
					<li><a title="Facebook" class="option1_32" style="background-position:-96px 0px" rel="nofollow" target="_blank" href="http://www.facebook.com/pages/SocialWin/349679691794392"></a><span class="name">Síguenos en Facebook</span></li>
					<li><a title="LinkedIn" class="option1_32" style="background-position:-288px 0px" rel="nofollow" target="_blank" href="http://www.linkedin.com/company/socialwin"></a><span class="name">Síguenos en LinkedIn</span></li>
					<li><a title="Google+" class="option1_32" style="background-position:-96px -32px" rel="nofollow" target="_blank" href="https://plus.google.com/u/0/106528211751763873508"></a><span class="name">Síguenos en Google+</span></li>
					<li><a title="Pinterest" class="option1_32" style="background-position:-128px -32px" rel="nofollow" target="_blank" href="http://pinterest.com/socialwin/"></a><span class="name">Síguenos en Pinterest</span></li>	
					<li><a title="RSS" class="option1_32" style="background-position:-128px 0px" rel="nofollow" target="_blank" href="http://feeds.feedburner.com/SocialWin"></a><span class="name">Sígue nuestro feed</span></li>	
				</ul>
			</div>
			<div class="span2">
				<ul class="clear">
				<div class="row"><h2>¿Te gusta?</h2></div>
				<div class="row"><div class="fb-like" data-href="http://analytics.socialwin.es" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true"></div></div>
				</ul>


				<div id="Twitter_Counter">
					<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
						if(!d.getElementById(id)) {
							js=d.createElement(s);
							js.id=id;
							js.src="//platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js,fjs);
						}
					}(document,"script","twitter-wjs");
					</script>
				
					<iframe scrolling="no" frameborder="0" allowtransparency="true" 
							src="http://platform.twitter.com/widgets/tweet_button.1363148939.html#_=1365167447814&amp;
							count=horizontal&amp;id=twitter-widget-0&amp;lang=es&amp;
							original_referer=<%= request.protocol + request.host_with_port + request.fullpath %>&amp;
							size=m&amp;
							text=Monitoriza tu red social &amp;
							url=<%= request.protocol + request.host_with_port + request.fullpath %>/&amp;
							via=SocialWinTW" 
							class="twitter-share-button twitter-count-horizontal" style="width: 117px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true">		
					</iframe>
				</div>

			</div>
			<div class="span3">
				<small>
					<%= link_to root_path do %>
					 SocialWin
					 <%= image_tag("/assets/logo32x32.png", alt: "SocialWin", title: "socialwin")  %>
					<% end %>
				</small>
			</div>

		</div>
		<div class="row-fluid">
			<div class="span7">
			</div>
			<div class="span5 pull-right bottom">
				<small>©2013 SocialWin</small>
				<small><%= link_to "Condiciones del servicio",   '/terms.html' %></small>
				<small><%= link_to "Política de privacidad",   '/private_policy.html' %></small>
			</div>


		</div>
	</div>

		<script>
			if (window.location.hash.search('#_=_') >= 0) {
			    window.location.hash = '';
			}
		</script>

</footer>
