<footer id="base-footer">
	<div class="container">
		<div class="row text-left">
			<div class="span3">
				<h4>NAVEGACIÓN</h4>
				<ul class="unstyled">
					<li><%= link_to "Analytics", 'https://swin.herokuapp.com/'%></li>
					<li><%= link_to "Sobre SocialWin", 'http://www.socialwin.es/nosotros/vision/' %></li>
				</ul>
			</div>
			
			<div class="span3">
				<h4>REDES SOCIALES</h4>

				<ul class="unstyled">
					<li><%= link_to "Twitter", "https://twitter.com/SocialWinTW", :target => "_blank" %></li>
					<li><%= link_to "Facebook", "https://www.facebook.com/SocialWinAnalytics", :target => "_blank" %></li>
					<li><%= link_to "LinkedIn", "http://www.linkedin.com/company/socialwin", :target => "_blank" %></li>
					<li><%= link_to "YouTube", "https://www.youtube.com/user/SocialWin", :target => "_blank" %></li>
					<li><%= link_to "Google+", " https://plus.google.com/u/0/106528211751763873508", {:target => "_blank", :rel => 'publisher'} %></li>
					<li><%= link_to "Pinterest", "http://pinterest.com/socialwin/", :target => "_blank" %></li>	
					<li><%= link_to "Rss", "http://feeds.feedburner.com/SocialWin", :target => "_blank" %></li>													
					<!--<li><%= link_to "Blog", "http://www.socialwin.es/nosotros/blog/" %></li>-->
				</ul>
			</div>

			<div class="span3">
				<h4>CONTACTO</h4>
				<ul class="unstyled">
					<li>Barcelona Activa</li>
					<li>C/Llacuna 160-162, Oficina 102</li>
					<li>08030 Barcelona</li>
					<li><br></li>
					<li><a href="mailto:info@socialwin.es">info@socialwin.es</a></li>
					<li>+34 93.555.162.284</li>
				</ul>
			</div>
						
			<div class="span3">
				<div id="tw-window">
					
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SocialWinApp"  data-widget-id="353092922591305728">Tweets por @SocialWinApp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


				
				</div>
			</div>

		</div><!--endRow-->
		
		<div class="clientes">
			<h3 class="text-center">Clientes</h3>
			<ul id="clientes">
				<li><a href="#"><div class="imag-clients" id="aol"></div></a></li>
				<li><a href="#"><div class="imag-clients" id="gaes"></div></a></li>
				<li><a href="#"><div class="imag-clients" id="barcelona"></div></a></li>
				<li><a href="#"><div class="imag-clients" id="catalunya"></div></a></li>
				<li><a href="#"><div class="imag-clients" id="american"></div></a></li>
				<li><a href="#"><div class="imag-clients" id="seat"></div></a></li>
				<li><a href="#"><div class="imag-clients" id="watx"></div></a></li>
				<li><a href="#"><div class="imag-clients" id="grupo"></div></a></li>
				<li><a href="#"><div class="imag-clients" id="telepolis"></div></a></li>
			</ul>
		</div>
	</div><!--container-->
</footer>

<div id="legal">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="logo-legal"><%= image_tag "logo-social196x56.png", {:width => 140} %></div>
			</div>
			<div class="span4"></div>
			<div class="span4">
				<ul class="unstyled inline pull-right">
					<li><small><%= link_to "Política de privacidad", '/private_policy.html' %></small></li>
					<li><small><%= link_to "Condiciones del servicio", '/terms.html' %></small></li>
					<li><small style="color: #333333;">&copy; SocialWin 2013</small></li>
				</ul>
			</div>
		</div>
	</div>	
</div>