<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		    <!-- boton colapsed -->
			<button  id="menu-word" type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".menusite-collapse">
				MENU <b class="caret"></b>
			</button>
			
			<!-- Logo -->
			<div class="brand">
				<%= link_to "FanPagesCompare", root_path %> 
			</div>
				
			<!-- Main Menu / Colapse-->	
			<div class="menusite-collapse nav-collapse collapse">
				<ul class="nav pull-right">

					<%= menu_link('FANPAGE ANALYSIS', '', search_engagement_path, '') %>
					<% if signed_in? %>

					<li class="dropdown" id="config">
						<a href="#" data-toggle="dropdown"><!--class="dropdown-toggle"-->
							<%= image_for current_user %>
							<span class="user-session"><%= current_user.name %></span><b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
						<!--dashboard-->
							<%= menu_link('Dashboard', 'icon-th-large', facebook_path, '') %>
						<!-- perfiles -->
							<% if request.fullpath != new_facebook_list_path %>
								<% current_user.facebook_lists.each do |fb_list| %>
									<%= form_tag(activate_facebook_list_path(fb_list.id)) do %>
										<%= hidden_field_tag :url, request.fullpath %>
										<%= button_tag(type: "submit", class: "btn-profile") do %>
											<i class="icon-th-list"></i>
											<strong> <%= fb_list.name %></strong> 
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						<!--preferencias -->
							<%= menu_link('Preferences', 'icon-wrench', facebook_lists_path, '') %>
						<!-- cerrar sesion -->	
							<li><%= link_to signout_path, method: "delete" do %><i class="icon-remove"></i> Sign out<% end %></li><!--  -->
						</ul>
					
					</li>

					<% else %>
	
						<li class="dropdown" id="config"><!--id="fat-menu"     -->
							<a href="#" data-toggle="dropdown"><!-- class="dropdown-toggle"-->
								START NOW <b class="caret"></b>
							</a>
							<ul class="dropdown-menu "><!--signinmenu-->
								<li><%= link_to "Facebook", '/auth/facebook' %></li><!--, class: "btn btn-small btn-primary" -->
								<!-- <li><%= link_to "Twitter", "/auth/twitter", class: "btn btn-small btn-info" %></li> -->
							</ul>
						</li>
	
					<% end %>				   

				</ul>
			</div>
			
		</div><!-- endContainer -->
  </div>
</header>