<% if session[:active][:tab] == FACEBOOK %>
	<div class="page_active_dashboard">
		<%= link_to @page.page_url, target: "_blank" do %>
			<%= image_tag @page.pic_square, alt: @page.name, class: "imgpage", alt: "#{@page.name}", title: "#{@page.name}" %>
			<strong><%= @page.name %></strong>
		<% end %>
	</div>
<% end %>

<nav class="menu_metricas">

	<ul class="nav nav-pills nav-stacked newline">


	    <% if session[:active][:opt] == OPT_ENGAGE %>
		    <li class="active">
		<% else %>
			<li>
		<% end %>
				<%= link_to "Engagement", dashboard_path %>
			</li>

		<% if session[:active][:opt] == OPT_GENERAL %>
		    <li class="active">
		<% else %>
			<li>
		<% end %>
		    	<%= link_to "Vista general", dashboard_general_path %>
		    </li>
	    
    	<li class="disabled"><a href="#">Tamaño</a></li>
    	<li class="disabled"><a href="#">Crecimiento</a></li>
	    <li class="disabled"><a href="#">Actividad</a></li>
	    <li class="disabled"><a href="#">Interacción</a></li>
	    <li class="disabled"><a href="#">Embajadores</a></li>
	    <li class="disabled"><a href="#">Influence</a></li>
	    <li class="disabled"><a href="#">Sentiment</a></li>
    </ul>
</nav>

