<% if list.pages.any? %>
<div class="competitors_div">
	<div id="competitors_title">
	<%= form_tag(facebook_engage_path) do %>
		<% list.pages.each do |competitor| %>
			<div id="competitorBox">
	          	<%= link_to page_path(competitor.id), class: "no-decoration"  do %>
	          		<%= image_tag get_picture(competitor), class: "mini_logo", alt: competitor.name, title: competitor.name %>
	          	<% end %>
	          	<%= link_to get_url(competitor), target: "_blank" do %>
	          		<%= content_tag(:i, '', :class => 'icon-share') %>
	          	<% end %>
	          	<%= check_box_tag 'pages[]', competitor[:id], params.has_key?(:pages) ? params[:pages].include?(competitor.id.to_s) : true  %>
			</div>
		<% end %>

		<div id="competitorBox">
		<%= label_tag "Desde (YYYYMMDD)" %>
		<%= text_field_tag :date_from, params.has_key?(:date_from) ? params[:date_from] : Time.now.yesterday.strftime("%Y%m%d") %>
		<%= label_tag "Hasta (YYYYMMDD)" %>
		<%= text_field_tag :date_to, params.has_key?(:date_to) ? params[:date_to] : Time.now.yesterday.strftime("%Y%m%d") %>
		<%= submit_tag "Renderizar..." %>
		</div>

	<% end %>
	</div>
</div>
<% end %>
