<% provide(:title, "Edición de perfil") %> 
<h1>Confirma tus datos</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

	  <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name %>

	  <label class="checkbox">
	  	<%= f.check_box(:policy_checked) %> 
	  	Al registrarme, acepto las condiciones de uso y la política de protección de datos.
	  </label>

<!-- check_box("user", "policy", { :class => 'checkbox' }, "si", "no") -->

      <%= f.submit "Confirmar", class: "btn btn-default btn-primary" unless !:policy %>
      <%= link_to "Cancelar", '#', class: "btn btn-default btn-default", style: "width: 60px;margin-left:10px;"  %>

    <% end %>

 <!--   Falta botón para cambiar la imagen  -->

  </div>
</div>