<% provide(:title, "Confirmación de registro") %> 

	<h1>Confirmación de registro</h1>

	<div class="row">
		<div class="span6 offset3">

		    <%= form_for(@user) do |f| %>

			  <%= render 'shared/error_messages', object: f.object %>

		      <%= f.label :name, "Nombre" %>
		      <%= f.text_field :name %>

			  <%= f.label :email %>
			  <% if !@user.email.nil? %>
     		  	<%= f.text_field :email, :readonly => true %>
		      <% else %>
		      	<%= f.text_field :email %>
			  <% end %>

			  <%=  f.label :terms_of_service, { class: "checkbox" } do %>
			  	<%= f.check_box :terms_of_service %>
			  	Al registrarme, acepto las <%= link_to "condiciones de uso", "/terms.html" %> y la <%= link_to "política de protección de datos", "/private_policy.html" %>.
			  <% end %>

		      <%= f.submit "Confirmar", class: "btn btn-default btn-primary" %>

			  <%= link_to "Cancelar", root_path, data: { confirm: "Desea cancelar el registro en SocialWin?" }, class: "btn btn-default btn-default", style: "width: 60px;margin-left:10px;" %>

		    <% end %>
		</div>
	</div>
