	<% provide(:title, "Edición de perfil") %> 
	<h1>Confirmación de registro</h1>

	<div class="row">
		<div class="span6 offset3">
		    <%= form_for(current_user) do |f| %>
		
			  <%= render 'shared/error_messages', object: f.object %>
		
		      <%= f.label :name, "Nombre" %>
		      <%= f.text_field :name %>

		      <%= f.label :email %>
		      <%= f.text_field :email, :disabled => 'disabled' %>
		
			  <label class="checkbox">
			  	<%= f.check_box(:approved_policy) %> 
			  	Al registrarme, acepto las condiciones de uso y la política de protección de datos.
			  </label>

		      <%= f.submit "Confirmar", class: "btn btn-default btn-primary" %>

		      <%= link_to "Cancelar", signout_path, method: "delete", class: "btn btn-default btn-default", style: "width: 60px;margin-left:10px;"  %>
		
		    <% end %>

		</div>
	</div>