<% provide(:title, "Dashboard de Facebook") %>

<%= render 'facebook/layouts/competitors', :list =>  @user_list, :mypath => facebook_path %>

<ul id="pasts" class="unstyled">

       <li><%= dashboard_box(facebook_engage_path(date_from: params[:date_from], date_to: params[:date_to]), 
       						 'ENGAGEMENT', 
       						  @data[:engagement][:value], 
       						  @data[:engagement][:variation]) %></li> 
       <li><%= dashboard_box(facebook_size_path, 
       						 'TAMAÑO', 
       						  @data[:size][:value], 
       						  @data[:size][:variation]) %></li> 
       <li><%= dashboard_box(facebook_growth_path, 
       						 'CRECIMIENTO', 
       						  @data[:growth][:value], 
       						  @data[:growth][:value]) %></li> 
       <li><%= dashboard_box(facebook_activity_path, 
       						 'ACTIVIDAD', 
       						  @data[:activity][:value], 
       						  @data[:activity][:variation]) %></li>
</ul>