<% provide(:title, @metric_name) %>

<%= render 'facebook/layouts/competitors', :list =>  @user_list, :mypath => facebook_engage_path %>

<% if @graph_type == 0 %>
	<div class="engage_div">
		<%= render 'facebook/layouts/engage_medals' %>
	</div>

	<%= render 'facebook/charts/chart_bars', :graph => "graph_div" %>
	<%= render 'facebook/shared/graph', :graph => "graph_div" %>

<% elsif  @graph_type == 2 %>

	<%= render 'facebook/charts/chart_timeline', :graph => "graph_div" %>
	<%= render 'facebook/shared/graph', :graph => "graph_div" %>

<% elsif  @graph_type == 3 %>

	<%= render 'facebook/charts/chart_lines', :graph => "graph_div" %>
	<%= render 'facebook/shared/graph', :graph => "graph_div" %>

<% end %>


<%= render 'facebook/shared/table' %>





