<% provide(:title, "Evolución del engagement") %>

<%= render 'facebook/charts/chart_timeline', :graph => "graph_div" %>

<%= render 'facebook/layouts/competitors', :list => @list, :mypath => facebook_path %>

<h1>Variación semanal:
<% if @var == 0 %>
	<span style="color:green">
<% elsif @var > 0 %>
	<i class="icon-arrow-up"></i><span style="color:green">
<% else %>
	<i class="icon-arrow-down"></i><span style="color:red">
<% end %>
<%= sprintf( "%0.01f", @var) %> %</span>
</h1> 

<%= render 'facebook/shared/graph', :graph => "graph_div" %>
<%= render 'facebook/shared/table' %>
