		    	<%= image_tag page.pic_square, class: "imgpage", alt: page.name, title: page.name %>
				<strong>
					<% if page.name.length > 16 %>
			    		<%= page.name[0..16] %>...
			    	<% else %>
			    		<%= page.name %>
			    	<% end %>
				</strong>
				<small><%= link_to "Ver en Facebook", page.page_url, target: "_blank" %></small>

				<div class="fb_stats">

				  <div class="fb_stat">
				  	Fans:
				    <strong id="fb_fans" class="stat">
			    		<%= page.fan_count %>
				    </strong>
				  </div>

				  <div class="fb_stat">
				  	Usuarios activos:
				    <strong id="fb_talking_about" class="stat">
						<%= page.talking_about_count %>
				    </strong>
				  </div>


				  <% case origin %>
					<% when 'index' %>

						<div class="fb_stat">
							Competidores:
							<%= render 'competitors_mini_logos'%>
						</div>

						<div class="fb_btn">
						<% if page.id == get_active_page %>
							<div class="btn btn-success btn-small">
								<i class="icon-ok icon-white"></i> Activada
							</div> 
						<% else %>
							<%= link_to activate_user_page_path(@user, page), method: :post, class: "btn btn-primary btn-small"  do %>
								<i class=" icon-plus icon-white"></i> Activar
							<% end %>
						<% end %>
						</div>
					<% when 'search' %>
						<div class="fb_stat">
							<%= render 'page_form_follow', :page => page %>
					  	</div>

					<% when 'competitors' %>
						<div class="fb_stat">
							<%= render 'page_form_unfollow', :page => page %>
					  	</div>
					
					<% when nil %>


				  <% end %>


				</div>

