<% @mypage = current_user.pages.find(get_active_page) %>

<% if @mypage.following?(page.page_id) %>	
	<div class="btn btn-small btn-primary">
		<i class="icon-ok icon-white"></i> Siguiendo
	</div> 
<% else %>

	<div id="<%= page.page_id %>" style="display: none;">Cargando datos de facebook...</div>

	<%= form_tag(page_relationships_path, :method => "post") do %>
	
		<%= text_field_tag :page_id,    page.page_id,    type: "hidden"  %>
		<%= text_field_tag :search,    params[:search],    type: "hidden"  %>
			
		<%= button_tag(type: "submit", class: "btn btn-default", onclick: "WaitDiv(#{page.page_id})") do %>
			<strong>Empezar a Seguir <i class=" icon-plus icon-default"></i></strong> 
		<% end %>

	<% end %>
<% end %>