<% if origin == 'search' %>

		    	<%= image_tag page.pic_square, class: "imgpage", alt: page.name, title: page.name %>
				<strong><small>
					<% if page.name.length > 16 %>
			    		<%= page.name[0..16] %>...
			    	<% else %>
			    		<%= page.name %>
			    	<% end %>
				</small></strong>
				<small><%= link_to "Ver en Facebook", page.page_url, target: "_blank" %></small>

				<div class="fb_stats">

				  <div class="fb_stat mini">
				  	<small>Fans:</small>
				    <strong id="fb_fans" class="stat">
			    		<small><%= page.fan_count %></small>
				    </strong>
				  </div>

				  <div class="fb_stat mini">
				  	<small>Usuarios activos:</small>
				    <strong id="fb_talking_about" class="stat">
						<small><%= page.talking_about_count %></small>
				    </strong>
				  </div>

<% else %>
				<%= link_to page do %>
				
			    	<%= image_tag page.pic_square, class: "imgpage", alt: page.name, title: page.name %>
				<% end %>
					<strong>
						<% if page.name.length > 16 %>
				    		<%= page.name[0..16] %>...
				    	<% else %>
				    		<%= page.name %>
				    	<% end %>
					</strong>
				<small><%= link_to "Ver en Facebook", page.page_url, target: "_blank" %></small>

				<div class="fb_stats">

				  <div class="fb_stat">
				  	Fans:
				    <strong id="fb_fans" class="stat">
			    		<%= page.fan_count %>
				    </strong>
				  </div>

				  <div class="fb_stat">
				  	Usuarios activos:
				    <strong id="fb_talking_about" class="stat">
						<%= page.talking_about_count %>
				    </strong>
				  </div>
<% end %>

				  <% case origin %>
					<% when 'search' %>
						<div class="fb_stat mini">
							<%= render 'pages/page_form_follow', :page => page %>
					  	</div>

					<% when 'competitors' %>
						<div class="fb_stat">
							<%= render 'pages/page_form_unfollow', :page => page %>
					  	</div>
					
					<% when nil %>


				  <% end %>


				</div>

