<% if @facebook_list.pages.include?(page) %>
	<div class="btn btn-mini btn-primary disabled">
		<i class="icon-ok icon-white"></i> <small>Siguiendo</small>
	</div>
<% else %>

	<div id="<%= page.page_id %>" style="display: none;">Cargando...</div>

	<%= form_for(@facebook_list.list_page_relationships.build) do |p| %>
	  <div><%= p.hidden_field :list_id %></div>
	  <%= text_field_tag :page_id,   page.page_id,    type: "hidden"  %>
	  <%= text_field_tag :search,    params[:search],    type: "hidden"  %>
	  <%= p.submit "Seguir", class: "btn btn-default btn-small cargar", :data => { "loading-text" => "Cargando..."}, onclick: "WaitDiv(#{page.page_id})" %>
	<% end %>

<% end %>