<% provide(:title, "Elija una página") %>

<% if @pages.count == 0 %>

	<div class="row facepagelist">
		<div class="span6 offset3">

		<h2><%= @user.name %>, ¿aún no dispone de una página profesional en Facebook?</h2>
		
		<div id="facepageloop" style="text-align: center;">
		<%= link_to "Cree su página profesional en Facebook", "https://www.facebook.com/pages/create.php", :target => "_blank" %>
		</div>

		<%= render 'update' %>
			
		</div>
	</div>	


<% else %>

	<h1>Estas son sus páginas de Facebook</h1>
	
	<h2>Elija una de sus páginas para monitorizar y comparar</h2>
	

	<div class="row">
		<%= render 'update' %>


		<ul class="fb_pages">
		  <% @pages.each do |p| %>
		    <li>
		    	<%= image_tag p.pic_square, alt: p.name, class: "imgpage" %>
				<strong><%= p.name %></strong>
				<small><%= link_to "Ver en Facebook", p.page_url, target: "_blank" %></small>
				<div class="fb_stats">
				  <div class="fb_stat">
				  	Fans de tu página:
				    <strong id="fb_fans" class="stat">
				      <%= 'xxxxx' %>
				    </strong>
				  </div>
				  <div class="fb_stat">
				  	Usuarios activos:
				    <strong id="fb_talking_about" class="stat">
				      <%= 'xxxxx' %>
				    </strong>
				  </div>
				  <div class="fb_stat">
				  	
				  	<%= link_to "Comparar", p.page_url, class: "btn btn-primary", target: "_blank" %>
				  </div>
				</div>

		    </li>
		  <% end %>
		</ul>
	</div>
	
<% end %>

