<% provide(:title, "Elija una página") %>

<% if @pages.count == 0 %>

	<div class="row facepagelist">
		<div class="span6 offset3">

		<h2><%= @user.name %>, ¿aún no dispone de una página profesional en Facebook?</h2>
		
		<div id="facepageloop" style="text-align: center;">
		<%= link_to "Cree su página profesional en Facebook", "https://www.facebook.com/pages/create.php", :target => "_blank" %>
		</div>

		<%= render 'update' %>
			
		</div>
	</div>	


<% else %>

	<h1>Estas son tus páginas de Facebook</h1>
	
	<h2>Elige una de tus páginas para monitorizar y comparar</h2>
	

	<div class="row">
		<%= render 'update' %>

		<ul class="fb_pages">
<%= render @pages %> 
		</ul>
	</div>
	
<% end %>

