<% provide(:title, 'Buscar de páginas') %>

<div class="row">
  <aside class="span4">
    <section>
		<h2>Página activa</h2>
		<%= render @page, :origin => nil  %>
    </section>

    <section>    
    	<%= render 'change_page_link' %>
    </section>
    
    <section>
		<%= render 'competitors_mini_photos' %>
    </section>
  </aside>

  <div class="span8">
    <h3><%= "Buscar competidores" %></h3>

		<%= render 'search_form' %>		
		
		<% if @pageslist %>
			<ul class="fb_pages">

				<% if @pageslist.count > 0 %>
					<% @pageslist.each do |p| %>
						<li>
							<%= render p, :origin => 'search' %>
						</li>
					<% end %>
				<% else %>
					<li>No se ha encontrado ninguna página con el texto '<%= params[:search]%>' </li>
				<% end %>

			</ul>
		<% end %>

  </div>
</div>


