<% provide(:title, 'Búsqueda de páginas') %>

<h1>Búsqueda de competidores</h1>



<%= form_tag(pages_search_path, :method => "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Buscar") %>
<% end %>


<% if @listapages %>
	<div class="row">	
		<% @listapages.each do |p| %>
		<div id="facepageloop">
			<%=  link_to root_path do %>
				<div class="logofacebookpage">
					<img title="Active Company" src="<%= p["pic_square"] %>">
					<%= p["name"] %>
				</div>
	
				 Seguidores:
				<b><%= p["fan_count"] %></b>
				<br/>
				 Usuarios activos:
				<b><%= p["talking_about_count"] %></b>
				<br/>
				

			<% end %>
		</div>
		<% end %>
	</div>
<% end %>
