
<% provide(:title, 'Buscar páginas') %>

<script type="text/javascript">
	function WaitDiv(page)
	{
		document.getElementById(page).style.display = 'block';
	}
</script>

<div class="row">

  <aside class="span3">	
    <section>
		<h2>Página activa</h2>
		<%= render @page, :origin => nil  %>
    </section>
    
    <section>
		<%= render 'competitors_mini_photos' %>
    </section>
  </aside>

  <div class="span5 offset1">
    <h3>Buscar competidores</h3>
	
		<%= render 'search_form' %>		

		<% if MAX_COMPETITORS - @competitors.count == 0 %>
			<p>Ha llegado al máximo de competidores. No puede seguir a más competidores.</p>
		<% else %>
			<p>Puede seguir <%= MAX_COMPETITORS - @competitors.count %> competidores más.</p>		
		
			<% if @pageslist %>
				<ul class="fb_pages">
	
					<% if @pageslist.count > 0 %>
	
						<script type="text/javascript">
	/*
							$(document).ready(function(){
							   $("button").click(function(event){
								$(this).removeClass('btn-default').addClass('btn-primary');
								$(this).button('loading');
							   });
							 });					
	*/
						</script>
	
						<% @pageslist.each do |p| %>
							<li>
								<%= render p, :origin => 'search' %>
							</li>
						<% end %>
					<% else %>
						<li>No se ha encontrado ninguna página con el texto '<%= params[:search]%>' </li>
					<% end %>
	
				</ul>
			<% end %>
		<% end %>

  </div>
</div>


