<% provide(:title, @page.name) %>

<h1><%= @page.name %></h1>

     <div style="padding:5px 5px 5px 5px;text-align: center;align:center;">
        <div style="margin:10px auto 10px auto;
       				width: 40px;
       				padding: 20px;
       				font-size: 1.7em;
       				color: #FFF;'+
  					border: 1px solid #0088CC; 
                    background-color: #0088CC;
  
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    
                    -moz-box-shadow: rgb(150,150,150) 2px 2px 2px;
                    -webkit-box-shadow: rgb(150,150,150) 2px 2px 2px;
                    box-shadow: rgb(150,150,150) 2px 2px 2px;
                    ">
            <strong><%= @engage %></strong>
        </div>
      </div>





	<div style="padding:5px 5px 5px 5px;text-align: center; align:center;">
        <p><strong><%= @page.name %></strong></p>
        <div style="margin-bottom:10px;">
        <img src="<%= fb_get_picture(@page.page_id, big=true) %>">
        </div>
        <p>Fans: <strong> <%= @page.fan_count %> </strong>
        <br/>Activos: <strong> <%= @page.talking_about_count %></strong></p>
        <small><%= link_to "Ver en Facebook", fb_get_url(@page.page_id), target: "_blank" %></small>
	</div>

<li id="Twitter_Counter">
	<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
		if(!d.getElementById(id)) {
			js=d.createElement(s);
			js.id=id;
			js.src="//platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js,fjs);
		}
	}(document,"script","twitter-wjs");
	</script>

	<iframe scrolling="no" frameborder="0" allowtransparency="true" 
			src="http://platform.twitter.com/widgets/tweet_button.1363148939.html#_=1365167447814&amp;
			count=horizontal&amp;id=twitter-widget-0&amp;lang=es&amp;
			original_referer=<%= request.protocol + request.host_with_port + request.fullpath %>&amp;
			size=m&amp;
			text=Hey, mira que engagement tiene hoy <%= @page.name %> en Facebook &amp;
			url=<%= request.protocol + request.host_with_port + request.fullpath %>/&amp;
			via=SocialWinTW" 
			class="twitter-share-button twitter-count-horizontal" style="width: 117px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true">		
	</iframe>
</li>