<% provide(:title, "" + @page.name + "Proportion on " + @day) %>

<div id="show">
<div class="container">
	<div class="">
		<h3 class="consulta">Fans/Activity proportion</h3>
	</div>
	
	<div class="row-fluid">
		<div class="span5 no-space">
			
			<div class="presentacion">
				<img src="<%= get_picture(@page, big=true) %>">
				<div class="detalles">
					<div class="nombre-foto"><%= @page.name %></div>
					<div class="fecha"><%= @day %></div>
				</div>
			</div>
			
			<% if @day != Time.now.yesterday.strftime('%d/%m/%Y') %>
				<%= link_to 'Ver último resultado', smart_page_path(@page), id:'btn-ver-resultados', class: 'btn'  %>
			<% end %>
			
			<div class="escudo-engagement">
				<div class="image-engage">
					<%= image_tag "show-page/escudo.png" %>
				</div>
				<div class="num-engage"><%= @engage %></div>
				<div class="word-engage">Proportion</div>
				<div class="name-engage"><%= @page.name %></div>
			</div>
			
		    
	    	<!--btn-group-comparte -->
		    <div class="btn-group" id="comparten"><!-- comparte-engagement-btn -->
		    	<a class="btn btn-comparte dropdown-toggle" data-toggle="dropdown">
		    		Share this data!<span class="comparte-icon"></span>
	    		</a>
			    <ul class="dropdown-menu">
					<li>
						 <a class="btn" 
						    href="http://twitter.com/share?url=<%= @thisUrl %>&text=Descubre la proporción de <%= @page.name  %>" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">
							<span class="comparte-twitter"></span> Twitter</a>	
					</li>
					<li>
						<a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= @thisUrl %>&title=<%= yield(:title) %>&summary=Descubre el <%= yield(:title) %>&source=<%= @thisUrl %>" class="btn" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">
						<span class="comparte-linkedin"></span> LinkedIn</a> 
					</li>
					<li>
						<a class="btn" href="http://www.facebook.com/sharer.php?s=100&p[title]=<%= yield(:title) %>&p[summary]=Descubre el <%= yield(:title) %>&p[url]=<%= @thisUrl %>&p[images][0]=https://graph.facebook.com/<%= @page.page_id %>/picture"
						 target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">
						<span class="comparte-facebook"></span> Facebook
						</a>
					</li>
			    </ul>	    		
			</div> 
<% if false %>  			
			<% if signed_in? %>
				<div class="space"></div>
			<% end %>
			<%= render 'layouts/shared/facebook_invite' %>
			<div class="space"></div> 
<% end %>			
			
		</div><!-- span5-->
		
		<div class="span7 no-space">
			<div class="tabla-metricas">
				    <table class="table">
						<thead>
							<tr>
								<th>Metrics</th>
								<th>Value</th>
								<th>Var%</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Total Fans: </td>
								<td><strong> <%= @data_day.likes %> </strong></td>
								<td><span class="<%= color_integer(@variations[:likes]) %>"><%= @variations[:likes] %>%</span></td>
							</tr>
							<tr>
								<td>Talking about:</td>
								<td><strong> <%= @data_day.prosumers %> </strong></td>
								<td><span class="<%= color_integer(@variations[:prosumers]) %>"><%= @variations[:prosumers]%>%</span></td>
							</tr>
							<tr>
								<td>Proportion:</td>
								<td><strong> <%= @engage %> </strong></td>
								<td><span class="<%= color_integer(@variations[:engage]) %>"><%= @variations[:engage] %>%</span></td>
							</tr>							
						</tbody>
    				</table>
				
				<small><%= link_to "Show on Facebook", get_url(@page), target: "_blank" %></small>
				
			</div>
			
			<div class="grafica-engagement">
					<div class="grafica-header">Last 6 days</div>
					<%= render 'facebook/charts/chart_timeline', :graph => "graph_div" %>
					<%= render 'facebook/shared/graph', :graph => "graph_div" %>
			</div>

		</div><!-- span7 -->
	</div><!--row-->
	
</div>
</div><!-- idShow -->

<div id="top-search">
	<div class="container">
		<div class="row">
			 <div class="span6 offset3 text-center"> <!-- buscador engagement-->
				<div class="try-search text-center" >
				    <h3 class="sw-violet"></h3>
					<h4 class="sw-violet">New search</h4>				
					<%= render 'site/shared/search_box' %>	
				</div>
			 </div>
		</div><!--row-->
	</div>	
</div><!--search-->	

<% if !signed_in? %>
<div class="container">
		<div class="row">
			<div class="span4 offset4 text-center">
				<%= render 'site/shared/face_signin' %>	
			</div>
		</div>
</div><!--container-->
<% end %>
