<% provide(:title, "Engagement de " + @page.name + " el día " + @day) %>

<div id="show">
<div class="container">
	<div class="">
		<h3 class="consulta">Consulta de ENGAGEMENT</h3>
	</div>
	
	<div class="row-fluid">
		<div class="span5 no-space">
			
			<div class="presentacion">
				<img src="<%= get_picture(@page, big=true) %>">
				<div class="detalles">
					<div class="nombre-foto"><%= @page.name %></div>
					<div class="fecha"><%= @day %></div>
				</div>
			</div>
			
			<% if @day != Time.now.yesterday.strftime('%d/%m/%Y') %>
				<%= link_to 'Ver último resultado', smart_page_path(@page), id:'btn-ver-resultados', class: 'btn'  %>
			<% end %>
			
			<div class="escudo-engagement">
				<div class="image-engage">
					<%= image_tag "show-engagement/escudo.png" %>
				</div>
				<div class="num-engage"><%= @engage %></div>
				<div class="word-engage">ENGAGEMENT</div>
				<div class="name-engage"><%= @page.name %></div>
			</div>
			
		    
	    	<!--btn-group-comparte -->
		    <div class="btn-group" id="comparten"><!-- comparte-engagement-btn -->
		    	<a class="btn btn-comparte dropdown-toggle" data-toggle="dropdown">
		    		¡Comparte su Engagement! <span class="comparte-icon"></span>
	    		</a>
			    <ul class="dropdown-menu">
					<li>
						 <a class="btn" 
						    href="http://twitter.com/share?url=<%= @thisUrl %>&text=Descubre el engagement de <%= @page.name  %> vía @SocialWinApp" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">
							<span class="comparte-twitter"></span> Twitter</a>	
					</li>
					<li>
						<a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= @thisUrl %>&title=<%= yield(:title) %>&summary=Descubre el <%= yield(:title) %>&source=<%= @thisUrl %>" class="btn" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">
						<span class="comparte-linkedin"></span> LinkedIn</a> 
					</li>
					<li>
						<a class="btn" href="http://www.facebook.com/sharer.php?s=100&p[title]=<%= yield(:title) %>&p[summary]=Descubre el <%= yield(:title) %>&p[url]=<%= @thisUrl %>&p[images][0]=https://graph.facebook.com/<%= @page.page_id %>/picture"
						 target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">
						<span class="comparte-facebook"></span> Facebook
						</a>
					</li>
			    </ul>	    		
			</div> 
  
			<% if signed_in? %>
				<div class="space"></div>
			<% else %>
				<div id="conectarConFacebook">
					<div id="quieres">
						<p><strong>¿Quieres comparar varios competidores?</strong></p>
						<p><strong>¡Prueba GRATIS SocialWin Analytics!</strong></p>							
					</div>
					<!--btnConectarConFacebook-->	
					<%= render 'site/shared/facebook_button_signin' %>
				</div>
			<% end %>
			
		</div><!-- span5-->
		
		<div class="span7 no-space">
			<div class="tabla-metricas">
				    <table class="table">
						<thead>
							<tr>
								<th>Métricas</th>
								<th>Valor</th>
								<th>Var%</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Fans totales: </td>
								<td><strong> <%= @data_day.likes %> </strong></td>
								<td><span class="<%= color_integer(@variations[:likes]) %>"><%= @variations[:likes] %>%</span></td>
							</tr>
							<tr>
								<td>Fans activos:</td>
								<td><strong> <%= @data_day.prosumers %> </strong></td>
								<td><span class="<%= color_integer(@variations[:prosumers]) %>"><%= @variations[:prosumers]%>%</span></td>
							</tr>
							<tr>
								<td>Engagement (últimos 7 días):</td>
								<td><strong> <%= @engage %> </strong></td>
								<td><span class="<%= color_integer(@variations[:engage]) %>"><%= @variations[:engage] %>%</span></td>
							</tr>							
						</tbody>
    				</table>
				
				<small><%= link_to "Ver en Facebook", get_url(@page), target: "_blank" %></small>
				
			</div>
			
			<div class="grafica-engagement">
					<div class="grafica-header">Engagement últimos 7 días</div>
					<%= render 'facebook/charts/chart_timeline', :graph => "graph_div" %>
					<%= render 'facebook/shared/graph', :graph => "graph_div" %>
			</div>
			
			<% if not signed_in? %>			
				<div class="clearfix"></div>
				
				<div id="div-search-box">
					<p><strong>Nueva busqueda</strong></p>
					<%= render 'site/shared/search_box' %>
				</div>
			<% end %>
		</div><!-- span6 -->
	</div>
	
</div>
</div><!-- idShow -->
