<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
		    	<%= image_tag @p.pic_square, alt: @p.name, class: "imgpage" %>
				<strong><%= @p.name %></strong>
				<small><%= link_to "Ver en Facebook", @p.page_url, target: "_blank" %></small>
				<div class="fb_stats">
				  <div class="fb_stat">
				  	Fans de tu página:
				    <strong id="fb_fans" class="stat">
				      <%= 'xxxxx' %>
				    </strong>
				  </div>
				  <div class="fb_stat">
				  	Usuarios activos:
				    <strong id="fb_talking_about" class="stat">
				      <%= 'xxxxx' %>
				    </strong>
				  </div>
				</div>
    </section>
    
    <section>

      <% if @competitors.any? %>
        <div class="user_avatars">
          <% @competitors.each do |comp| %>
          	<%= image_tag comp.pic_square, alt: comp.name, class: "imgpage", size: 30 %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>

  <div class="span8">
    <h3><%= @title %></h3>
    <% if @competitors.any? %>
      <ul class="fb_pages">
        <%= render @competitors %>
      </ul>

    <% end %>
  </div>
</div>