<% provide(:title, @title) %>
<div class="row">
  <aside class="span3">
    <section>
		<h2>Página activa</h2>
		<%= render @page, :origin => nil %>
    </section>

    <section>    
    	<%= render 'change_page_link' %>
    </section>

    <section>
		<%= render 'competitors_mini_photos' %>
    </section>
  </aside>

  <div class="span5 offset1">
    <h3><%= @title %></h3>
  		
    <% if @competitors.any? %>
      <ul class="fb_pages">
		<% @competitors.each do |p| %>
			<li>
				<%= render p, :origin => 'competitors' %>
			</li>
		<% end %>
      </ul>
    <% end %>
  </div>
  
  
</div>




