<div class="row">

<div class="span4 well">

	<h2>Buscador de páginas de Facebook!</h2>

	<% if @more > 0 %>
		<p>Añade una de tus páginas para liderar la lista!</p>
		<p>Puede seguir <%= @more %> competidores más.</p>
		<%= render :partial => "search_form", :locals => { :rest => request.url } %>
		<%= render 'search_results'%>
	<% else %>
		<p>Ha llegado al máximo de competidores.</p>
		<p>Para añadir un nuevo competidor, deje de seguir alguno de los competidores actuales.</p>
	<% end %>

</div>

<div class="span5 well">

    <h3>Siguiendo a <%= @competitors.count %> competidores:</h3>

	<div class="data_follow">

    <% if @competitors.any? %>
      <ul class="fb_pages">
		<% @competitors.each do |p| %>
			<li>
				<%= render p, :origin => 'competitors' %>
			</li>
		<% end %>
      </ul>
    <% else %>
    	<p>Actualmente no sigue a ningún competidor.</p>
    <% end %>
	</div>

</div>

</div>
