<div id="span4">
<%= form_for(@facebook_list) do |f| %>
  <% if @facebook_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facebook_list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @facebook_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-actions">
	  <div class="span3">
	    <%= f.label "Nombre del perfil", class: "control-label" %>
	    <%= f.text_field :name %>
	  </div>
	
	  <% if @facebook_list.pages.any? %>	
		  <div class="span3">
		  	
		  	<%= f.label "Master de la lista" %>
	
			<% @facebook_list.pages.each do |p| %>
				<ul>
				<li><%= f.radio_button(:page_id, p.id, checked: (@facebook_list.page_id == p.id)) if current_user.pages.include?(p) %> <%= p.name %>
					<%= render 'pages/page_form_unfollow', :page => p %>
				</li>
				</ul>
			<% end %>
	
	
		  </div>
		  
	  <% end %>
	

	  <div class="span3">
	    <%= f.submit "Guardar lista", class: "btn btn-primary" %>
	  </div>

  </fieldset>
<% end %>
</div>

<% if request.path != new_facebook_list_path %>
	<div id="span3">
		<%= render 'search' %>
	</div>
<% end %>
