<%= form_for(@facebook_list) do |f| %>
  <% if @facebook_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facebook_list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @facebook_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset class="form-actions">
  <div class="span3">
    <%= f.label "Nombre de lista", class: "control-label" %>
    <%= f.text_field :name %>
  </div>

  <div class="span3">
  	<%= f.label "Master page" %>
  	<% if @facebook_list.pages.any? %>
  		<%= f.select(:page_id, options_for_select(@facebook_list.pages.map {|p| [p.name, p.id]}, :selected => @facebook_list.page_id)) %>
	<% end %>
  </div>
  
  <div class="span3">
    <%= f.label "Guardar nombre y master de lista" %>
    <%= f.submit "Guardar lista", class: "btn btn-primary" %>
  </div>

</fieldset>

<% end %>

