<h1>Listing lists</h1>


<div class="span9 well">
	<%= link_to 'Add new...', new_facebook_list_path %>

	<h2>Elige una de tus listas para monitorizar y comparar</h2>
	
	<ul class="fb_pages">
		<% @facebook_lists.each do |list| %>
		
			<li>

				<div class="fb_stats">
				  
				  <div class="fb_stat">
				  	Name:
				    <strong id="fb_fans" class="stat">
				    	<%= list.name %>
				    </strong>
				  </div>

				  <div class="fb_stat">
				  	Master Page List:
				    <strong id="fb_fans" class="stat">
				    	<%= list.page_id.to_s %>
				    </strong>
				  </div>

				  
				  <div class="fb_stat">
				  	Fans:
				    <strong id="fb_fans" class="stat">0
				    </strong>
				  </div>

				  <div class="fb_stat">
				  	Usuarios activos:
				    <strong id="fb_talking_about" class="stat">0
				    </strong>
				  </div>

					<div class="fb_stat">
						Competidores:
						<strong id="fb_talking_about" class="stat">Ninguno
				    </strong>
					</div>
					
					<div class="fb_stat">
						<%= link_to 'Show & Edit', edit_facebook_list_path(list) %>
					</div>
					
					<div class="fb_stat">
						<%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
					</div>


					<div class="fb_btn">
					<% if list == get_active_list %>
						<div class="btn btn-success btn-small">
							<i class="icon-ok icon-white"></i> Activada
						</div> 
					<% else %>
						<%= link_to activate_facebook_list_path(list), method: :post, class: "btn btn-primary btn-small"  do %>
							<i class=" icon-plus icon-white"></i> Activar
						<% end %>
					<% end %>
					</div>

		<% end %>

	</ul>		
</div>







