<h1>Listing lists</h1>

<table>
  <tr>
    <th>Id</th>  	
    <th>Name</th>
    <th>Page_id</th>
    <th>User_id</th>
    <th></th>
    <th></th>
  </tr>

<% @facebook_lists.each do |list| %>
  <tr>
    <td><%= list.id %></td>
    <td><%= list.name %></td>
    <td><%= list.page_id.to_s %></td>
	<td><%= list.user_id.to_s %></td>
    <td><%= link_to 'Show', facebook_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Add new...', new_facebook_list_path %>

<br />
