<h1>List</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @facebook_lists.name %>
</p>

<p>
  <b>Page_id:</b>
  <%= @facebook_lists.page_id %>
</p>


<p>
  <b>User_id:</b>
  <%= @facebook_lists.user_id %>
</p>


<%= link_to 'Edit', edit_facebook_list_path(@facebook_lists) %> |
<%= link_to 'Back', facebook_lists_path %>
