<% if signed_in? %>	

<div id="app_content" class="container ">

<div class="snap-drawers">
	<div class="container">
		<div class="snap-drawer snap-drawer-left">
		    <div>
		        <h3>Snap.js</h3>
		        <h4>Demos</h4>
		        <ul>
		            <li><a href="default.html">Default</a></li>
		            <li><a href="noDrag.html">No Drag</a></li>
		            <li><a href="dragElement.html">Drag Element</a></li>
		            <li><a href="rightDisabled.html">Right Disabled</a></li>
		        </ul>
		        <div>
		            <p>The Default demo shows basic Snap.js functionality</p>
		            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non erat ac leo ultrices blandit sed vel risus. Pellentesque facilisis blandit auctor. Maecenas vestibulum vulputate tincidunt. Mauris nec quam libero. Fusce eget ligula non leo varius condimentum quis ac elit. Donec id urna ut neque semper ultrices. Proin ut suscipit felis. Nullam neque felis, ullamcorper scelerisque volutpat vel, vehicula vehicula neque. Aenean scelerisque elit ac erat sagittis ullamcorper.</p>
		        </div>
		    </div>
		</div>
	
		<div class="snap-drawer snap-drawer-right">
		        <h3>Snap.js</h3>
		        <h4>Demos</h4>
		</div>
	</div><!-- container-->
</div> 

<div id="content" class="snap-content">	
	<div class="container">	 		
		<div  class="tabbable">
			<ul class="nav nav-tabs offset2 navbar">
				<button class="btn pull-right" data-target="" data-toggle="" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<!-- boton metricas -->
				<button type="button" class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".menuapp-collapse">
					Métricas
				</button>
				
				<%= tab_link('Facebook', facebook_engage_path, FACEBOOK, { anchor: 'fb-tab' }) %>
				<%= tab_link('Twitter', twitter_path, TWITTER, { anchor: 'tw-tab' }) %>
				<%= tab_link('Youtube', youtube_path, YOUTUBE, { anchor: 'yt-tab' }) %>
			</ul>
			<div class="tab-content">
				<% if get_active_tab == FACEBOOK %>
					<div class="tab-pane active" id="fb-tab">
						<div class="row-fluid">
							
							<div class="span2">
								<!--<%= render 'layouts/app/page_logo' %>-->
								<%= render 'layouts/app/menu' %>
							</div>	
	
							<div class="span10">
								<%= yield %>
							</div>
							
						</div><!--endrow-->
 					</div>
					
				<% elsif get_active_tab == TWITTER %>
					<div class="tab-pane active" id="tw-tab">
						<%= yield %>
					</div><!--tabPane-->
				<% elsif get_active_tab == YOUTUBE %>
					<div class="tab-pane active" id="yt-tab">
						<%= yield %>
					</div>
				<% end %>
			</div>
						
		</div><!--tabbable-->
	</div><!--container-->	
</div>	
	
</div><!--container-->	


<% else %>
	<%= yield %>
<% end %>

<script>
	var snapper = new Snap({
	    element: document.getElementById('content')
	});
	
	var addEvent = function addEvent(element, eventName, func) {
	    if (element.addEventListener) {
	        return element.addEventListener(eventName, func, false);
	    } else if (element.attachEvent) {
	        return element.attachEvent("on" + eventName, func);
	    }
	};
	
	addEvent(document.getElementById('open-left'), 'click', function () {
	    if (snapper.state().state == "left") {
	        snapper.close();
	    } else {
	        snapper.open('left');
	    }
	});
</script>
