<div class="menu_metricas span12">
	<div class="collapse-inner">

		<div class="menuapp-collapse nav-collapse collapse">
			<ul class="nav">
				<%= menu_link('Dashboard', nil, facebook_dashboard_path, 'btn btn-blue') %>
				<%= menu_link('Fans', nil, facebook_size_path, 'btn btn-blue') %>
				<%= menu_link('Talking about', nil, facebook_activity_path, 'btn btn-blue') %>
				<%= menu_link('Proportion', nil, facebook_engage_path, 'btn btn-blue') %>
				<%= menu_link('Growth', nil, facebook_growth_path, 'btn btn-blue') %>
			</ul>
		</div>

<script>
    $('a[disabled=disabled]').click(function(event){
        event.preventDefault(); // Prevent link from following its href
    });
</script>
		
	</div><!--navbar-->
</div>

