<div class="menu_metricas">
	<div class="well">
		
		<ul class="nav nav-list">
			<li class="nav-header">Mi Perfil</li>
				<%= menu_link('Perfiles', 'icon-list', facebook_lists_path) %>
			<li class="divider"></li>				
			<li class="nav-header">Métricas</li>
				<%= menu_link('Dashboard', 'icon-home', facebook_path) %>
				<%= menu_link('Engagement', 'icon-heart', facebook_engage_path) %>
				<%= menu_link('Tamaño', 'icon-globe', facebook_size_path) %>
				<%= menu_link('Crecimiento', 'icon-globe', facebook_growth_path) %>
				<%= menu_link('Actividad', 'icon-globe', facebook_activity_path) %>

<!-- 
			    <li class="disabled"><a href="#">Interacción</a></li>
			    <li class="disabled"><a href="#">Embajadores</a></li>
			    <li class="disabled"><a href="#">Influence</a></li>
			    <li class="disabled"><a href="#">Sentiment</a></li>
-->
			<li class="divider"></li>
		</ul>
		
	</div><!--wel-->
</div>

