<div id="lazo" class="hidden-tablet"><a href="http://www.seedrocket.com/" alt="SeedRocket" title="SeedRocket" target="_blank"><%= image_tag "lazo.png" %></a></div>
<div id="home">
	<div class="container text-center">
	    <h1 id="slogan1">¿Cuánto te quiere tu comunidad en Facebook?</h1>
	    
	    <h5 id="slogan2">DESCUBRE EL ENGAGEMENT DE TU FANPAGE</h5>
	    <p id="slogan3">La aplicación para monitorizar y analizar las redes sociales en clave competitiva.</p>
	    
	    <div class="container">
	    	<div class="base-btn-facebook-center">
				<%= render "site/shared/facebook_button_signin" %>
		    </div>
		 </div>  
		  				
    	<h5 id="monitorizando">Monitorizando más de <%=  @pages %> páginas</h5>
    	<!-- <li>Ya hay <%=  @users %> usuarios registrados1!</li> -->

		
	    <div class="screen">
			<%= image_tag "sw-ipad.png", :id => "screen" %><!--"screen.png" -->
		</div>
		
	</div><!--container-->
</div><!--endHome-->