<div id="lazo"><%= image_tag "lazo.png" %></div>
<div id="home">
	<div class="container text-center">
	    <h1 id="slogan1">¿Cuánto te quiere tu comunidad en Facebook?</h1>
	    
	    <h5 id="slogan2">DESCUBRE EL ENGAGEMENT DE TU FANPAGE</h5>
	    
	    <div class="container">
			<div class="base-btn-facebook">
				<%= link_to "/auth/facebook", id: "btn-facebook", class: "btn btn-primary btn-large" do %>
					<div class="box-image-facebook"><div id="image-facebook"></div></div> Conectar con Facebook
				<% end %>
		    </div>
		 </div>  
		  				
    	<h5 id="monitorizando">Monitorizando más de <%=  @pages %> páginas</h5>
    	<!-- <li>Ya hay <%=  @users %> usuarios registrados1!</li> -->

		
	    <div class="screen">
			<%= image_tag "screen.png", :id => "screen" %>
		</div>
		
	</div><!--container-->
</div><!--endHome-->