<% provide(:title, "Sobre nosotros") %>
<div id="cita">
	<div class="container text-center">
		<div class="cita-case">
			<p id="cita-thomas">“En el Marketing del futuro el engagement con los clientes pasará de ser una opción a convertirse en una necesidad fundamental para cualquier modelo de negocio. Su oportuna medición y mejora es lo que marcará la diferencia entre las empresas del presente y del futuro”.</p>
			
			<div id="firma" class="pull-right">
				<p id="cita-thomas-sign" class="pull-right">CEO Thomas Bartczak</p>
			</div>
		</div>
	</div>
</div>

<div id="informe-social-media">
	<div class="container text-center">
		<h3 class="sw-green">Informes Redes Sociales</h3>
		<p>La revolución de las redes sociales está aquí, y está madurando rápidamente. 
¿Estás midiendo lo qué sucede? Los Informes en redes sociales ayudan a medir el 
impacto que tienen en los objetivos de negocio y las conversiones. Los datos sociales 
proporcionan una visión integral de su contenido y de la comunidad.</p>
			
		<div class="row">
			<div class="span6">
				<h4 class="sw-green">INFORME DE MEDIOS TV</h4>
				<p>Consulta el último Informe Sectorial Medios TV en redes sociales</p>
				<p class="text-center"><a href="http://www.socialwin.es/wp-content/uploads/2013/03/An%C3%A1lisis-3.0-Sector-Medios-TV.pdf" target="_blank" class="btn btn-large descargar-informe">Descargar informe</a></p>
				
			</div>
			<div class="span6">
				<h4 class="sw-green">INFORME DE AUTOMOCIÓN</h4>
				<p>Consulta el último Informe Sectorial del Auto en redes sociales</p>
				<p class="text-center"><a href="http://www.socialwin.es/wp-content/uploads/2013/01/Informe-SocialWin-Sector-Automocion.pdf" target="_blank" class="btn btn-large descargar-informe">Descargar informe</a></p>
			</div>
		</div>
	</div>
</div>
<!--
<div id="smd">
	<div class="container text-center">
		<h3>¿Social Media Day?</h3>
	</div>
</div>
-->
<div id="blog">
	<div class="container">
		<h3>Blog</h3>
		<div class="row">
			<div class="span6">
				<div class="post">
					<div class="titulo-post">Los 5 factores clave para tener éxito en tu campaña de crowdfunding</div>
					<div class="content-post">Llega un momento durante el duro y largo proceso de búsqueda de financiación de toda start-up donde el concepto de crowdfundig toma fuerza casi por pura inercia como una vía alternativa para conseguir financiación. Pero antes de embarcarte en la dura aventura del micromecenazo, donde en Estados Unidos parce que el concepto ha calado de forma congénita, uno debe plantearse los riesgos que conlleva apostar fuerte por esta opción.</div>
					<div class="leer-mas"><a href="http://www.socialwin.es/social-media/los-5-factores-clave-para-tener-exito-en-tu-campana-de-crowdfunding/" target="_blank">Leer +</a></div>
				</div>
			</div>
			<div class="span6">
				<div class="post">
					<div class="titulo-post">Las 7 áreas de influencia de las redes sociales en una empresa</div>
					<div class="content-post">Pensar en emplear las redes sociales solamente para realizar promociones y ventas es como pensar en utilizar el ordenador solo para almacenar datos contables. Es cierto que esta fue una de las primeras aplicaciones de los ordenadores en las empresas, pero en muy poco tiempo las aplicaciones se multiplicaron extendiéndose a toda la organización y definiendo una nueva manera de hacer las cosas, hasta el punto de estar prácticamente integrados en todos los procesos llevados a cabo por la organización.rentiunto excepel luptatem vernam diatem la se sitas everuptat.
						</div>
					<div class="leer-mas"><a href="http://www.socialwin.es/marketing-online/las-7-areas-de-influencia-de-las-redes-sociales-en-una-empresa/" target="_blank">Leer +</a></div>	
				</div>
			</div>
		
		</div><!--row-->
		<div class="ver-todo-blog"><a href="http://www.socialwin.es/nosotros/blog/">Ver todo el blog</a></div>
	</div>
</div>

<div id="equipo">
	<div class="container">
		<h3>Equipo</h3>
		<ul id="colaboradores">
			<li>
				<div class="col-imagen"><%= image_tag "nosotros2/Thomas_Bartczak.png" %></div>
				<div class="col-info">
					<div class="col-nombre">Thomas Bartczak</div>
					<div class="col-rol">CEO Fundador & Business Engineer</div>
					<div class="col-descripcion">“Apasionado del Social Media Management como un asset estratégico para las empresas del nuevo mileno.” </div>
					<div class="leer-mas"><a href="http://www.socialwin.es/team-view/thomas-bartczak/">Leer +</a></div>
				</div>
			</li>	
			
			
			<li>
				<div class="col-imagen"><%= image_tag "nosotros2/EncarnaSegura.png" %></div>
				<div class="col-info">
					<div class="col-nombre">Encarna Segura</div>
					<div class="col-rol">Co-founder / Marketing & Communication Manager</div>
					<div class="col-descripcion">“Las redes sociales harán que en un futuro solo existan buenas empresas.” </div>
					<div class="leer-mas"><a href="#">Leer +</a></div>
				</div>
			</li>

			<li>
				<div class="col-imagen"><%= image_tag "nosotros2/fran.martinez.png" %></div>
				<div class="col-info">
					<div class="col-nombre">Fran J. Martínez</div>
					<div class="col-rol">Co-founder & CTO</div>
					<div class="col-descripcion">“Las redes sociales multiplican nuestra capacidad de interacción humana, consiguiendo en tiempos récord objetivos que en el pasado parecían imposibles.”</div>
					<div class="leer-mas"><a href="http://www.socialwin.es/team-view/fran-martinez/">Leer +</a></div>	
				</div>	
			</li>

			<hr class="hr-nosotros" />
			<li>
				<div class="col-imagen"><%= image_tag "nosotros2/Anna_Monreal.png" %></div>
				<div class="col-info">
					<div class="col-nombre">Anna Monreal</div>
					<div class="col-rol">Community manager</div>
					<div class="col-descripcion">“Una marca ya no es lo que la empresa cuenta, sino lo que sus usuarios hablan de ella en las redes sociales. El Branding del siglo XXI se llama Social Media.”</div>
					<div class="leer-mas"><a href="http://www.socialwin.es/team-view/anna-monreal/">Leer +</a></div>
				</div>
			</li>

			<li>
				<div class="col-imagen"><%= image_tag "nosotros2/GessicaCambi.png" %></div>
				<div class="col-info">
					<div class="col-nombre">Gessica Cambi</div>
					<div class="col-rol">Creative Digital Designer</div>
					<div class="col-descripcion">“Comunicar es crear, pero comunicarse eficazmente es lo que importa. Imagen+palabra+tecnología es la fórmula clave que nos permite llegar a cualquier persona que esté viviendo en un entorno 2.0″</div>
					<div class="leer-mas"><a href="http://www.socialwin.es/team-view/gessica-cambi/">Leer +</a></div>	
				</div>	
			</li>

			<li>
				<div class="col-imagen"><%= image_tag "nosotros2/Lourenco-Viana.png" %></div>
				<div class="col-info">
					<div class="col-nombre">Lourenco Viana</div>
					<div class="col-rol">User Experience & Growth Hacking</div>
					<div class="col-descripcion">“No escondas tu valor añadido en un cajón, sácalo a lucir. En tu página web, en las redes sociales y en tu vida.”</div>
					<div class="leer-mas"><a href="http://www.socialwin.es/team-view/lourenco-viana/">Leer +</a></div>
				</div>
			</li>
			<hr class="hr-nosotros" />								
		</ul>
	</div>
</div>
