
<div id="search-page">
<div class="container">	
	<h3 id="consulta">Consulta de ENGAGEMENT</h3>
	
	<div class="row">
		
		<div class="span6">
			<p><strong>Resultados para: </strong><%=  params[:search] %></p>
			<p>Ir al resultado de engagement</p>
				<% if @searching %>
					<!-- Este lo carga el jQuery -->
				   <div id="fb_search" data-facebook-search="<%= @fb_search_path %>" >
					  <img alt="Loader" class="spinner" height="48" src="/assets/hummingbirds.gif" width="48" />
				   </div>
				<% end %>			
		</div><!--endSpan6-->	
		
		<div class="span6">
			    <p><strong>Nueva búsqueda</strong></p>
			    <p>Tip. si no encuentras lo que buscas, inserta la URL de la página deseada.</p>
    			<div id="div-search-box">
						<%= form_tag(search_path, :method => "get", class: "navbar-search search") do %>
						<fieldset>
							<em class="icon-search" id="lent"></em> 
							<%= text_field_tag(:search, params[:search], class: "input-xlarge search-query", placeholder: "Buscar páginas...", autocomplete: "off") %>
							<%= button_tag(type: "submit", class: "btn btn-danger btn-sw-search") do %>
								Buscar
							<% end %>
						</fieldset>
						<% end %>
				</div>	
				

				<!--btnConectarConFacebook-->	
				<div id="conectarConFacebook">
					<div id="quieres">
						<p><strong>¿Quieres comparar varios competidores?</strong></p>
						<p><strong>¡Prueba GRATIS SocialWin Analytics!</strong></p>							
					</div>
				
					<div class="base-btn-facebook">
						<%= link_to "/auth/facebook", id: "btn-facebook", class: "btn btn-primary btn-large" do %>
							<div id="image-facebook"></div><span id="pipe">|</span> Conectar con Facebook
						<% end %>
			    	</div>	
		    	</div>
		</div><!--endSpan6-->	
			
	</div><!--endRow-->	
</div>					
</div>				

			