<% provide(:title, "Search fan page data") %>

<% if !@searching %>
	<div id="top-search">
		<div class="container">
			<div class="row">
				 <div class="span8 offset2"> <!-- buscador-->
					<div class="try-search text-center" >
					    <h3 class="sw-violet">Facebook Pages Analysis</h3>				
						<%= render 'site/shared/search_box' %>	
					</div>
				 </div>
			</div><!--row-->
		</div>	
	</div><!--search-->	
	
    <% if !signed_in? %>
	<div class="container">
			<div class="row">
				<div class="span4 offset4">
					<%= render 'site/shared/face_signin' %>		
				</div>
			</div>
	</div>
	<% end %>
<% end %>


<% if @searching %>
<div id="search-page">
	<div class="container">	
		<h3 id="consulta">PAGE ANALYSIS</h3>
		
		<div class="row">
			<% if @searching %>
			<div class="span6">
	
				<% if @fb_search_path.nil? %>
					<div id="fb_search">
	               <!-- <img alt="Loader" class="spinner" height="48" src="/assets/hummingbirds.gif" width="48" /> -->
						<% if @pageslist.count > 0 %>
							<p><strong>Results for: </strong><%=  params[:search] %></p>
	
							<% @pageslist.each_with_index do |p, i| %>
								<li>
									<div>
										<img class='fb_img' src='https://graph.facebook.com/<%= p.page_id %>/picture' />
			  							<div class='name'><p><%= p.name %></p></div>
										<a href='/facebook/<%= smart_page_name(p.name) %>-proportion-<%= p.page_id %>'>
											<div class='arrow'></div>
										</a>
									</div>
								</li>
								<% break if i == 3 %>
							<% end %>
						<% else %>
							<li>No results with the text: '<%= params[:search]%>' </li>
							<li><strong>If you don't find a page, try with the URL.</strong> </li>
						<% end %>
					</div>
	
				<% else %>
					<p>Proportion result</p>
	
					<!-- Este lo carga el jQuery -->
				   <div id="fb_search" data-facebook-search="<%= @fb_search_path %>" >
					  <img alt="Loader" class="spinner" height="48" src="/assets/hummingbirds.gif" width="48" />
				   </div>
				<% end %>
							
			</div><!--endSpan6-->	
			<% end %>	
			
			<div class="span6">
			    <p><strong>New search</strong><br/>
			    	<small>If you don't find a page, try with the facebook page URL.</small>
			    </p>
				<%= render 'site/shared/search_box' %>
				
				<% if !signed_in? %>
					<%= render 'site/shared/face_signin' %>	
				<% end %>			
			</div><!--endSpan6-->	
				
		</div><!--endRow-->	
	</div>					
</div>	
<% end %><!--if searching-->			