
<div id="search-engagement-page">
<div class="container">
	<h3 id="consulta">Consulta de ENGAGEMENT</h3>	
	<div class="row">
		
		<div class="span6">
			<h3 class="sw-violet">¿No tienes fanpage?</h3>
			<h4 class="sw-blue">Lo hacemos fácil, ahora puedes conocer el engagement de tus marcas favoritas ;-)</h4>
		</div>
		
		<div class="span6">
			<div class="form-case">
			<%= form_tag(search_page_path, :method => "get", class: "navbar-search search") do %>
				<fieldset>
					<em class="icon-search" id="lent"></em> 
					<%= text_field_tag(:search, params[:search], class: "input-xlarge search-query", placeholder: "Buscar páginas...", autocomplete: "off") %>
					<%= button_tag(type: "submit", class: "btn btn-danger btn-sw-search") do %>
						BUSCAR
					<% end %>
				</fieldset>
				<% end %>
			</div>	
		</div>
		
	</div>
	<div lcass="row">
		
		<div class="span6 offset3">
			<div class="podium-case">
			<h3>Top 3 Engagement Facebook</h3>
			<ul class="unstyled list-engagement">
				<li>
					<div class="podium text-center">N.1</div>
					<%= image_tag "podium/cnn.jpg" %>
					<div class="ranking">
						<div class="flecha-up"></div>
						<div class="puntuacion text-right">986</div>
					</div>
				</li>
				<li>
					<div class="podium text-center">N.2</div>
					<%= image_tag "podium/bmw.png" %>
					<div class="ranking">
						<div class="flecha-up"></div>
						<div class="puntuacion text-right">950</div>
					</div>
				</li>
				<li>
					<div class="podium text-center">N.3</div>
					<%= image_tag "podium/loreal.png" %>
					<div class="ranking">
						<div class="flecha-down"></div>
						<div class="puntuacion text-right">932</div>
					</div>
				</li>
			</ul>
			</div><!--podium case-->
		</div>
		
	</div><!--row-->
</div>
</div>	