<% if signed_in? %>	
	<div class="row">
		<div class="span12">
			<div class="row">
				<aside class="span2">
					<%= render 'layouts/page_logo' %>
					<%= render 'layouts/menu' %>
				</aside>
				<div class="span10">

					<nav class="tabbable"> <!-- Only required for left/right tabs -->
						<ul class="nav nav-tabs">
							<%= tab_link('Facebook', dashboard_engage_path, FACEBOOK) %>
							<%= tab_link('Twitter', twitter_path, TWITTER) %>
							<%= tab_link('Youtube', youtube_path, YOUTUBE) %>
						</ul>
			
						<nav class="tabbable"> <!-- Only required for left/right tabs -->
							<div class="tab-content">
								<div class="tab-pane active" id="facebook">
									<%= yield %>
								</div>
								<div class="tab-pane" id="twitter">
								</div>
								<div class="tab-pane" id="youtube">
								</div>
							</div>
						</nav>
					</nav>

				</div>
			</div>
	    </div>
	</div>
<% else %>
	<%= yield %>
<% end %>
