			<% if signed_in? %>	
			    <div class="row">
				    <div class="span12">
					    <div class="row">
						    <aside class="span2">
						    	<%= render 'layouts/page_logo' %>
					    		<%= render 'layouts/menu' %>
						    </aside>
						    <div class="span10">

								<nav class="tabbable"> <!-- Only required for left/right tabs -->
									<ul class="nav nav-tabs">
										<% if session[:active][:tab] == FACEBOOK %><li class="active"><% else %><li><% end %> 
											<%= link_to "Facebook", dashboard_engage_path %>
										</li>
										<% if session[:active][:tab] == TWITTER %><li class="active"><% else %><li><% end %>
											<%= link_to "Twitter", twitter_path %>
										</li>
										<% if session[:active][:tab] == YOUTUBE %><li class="active"><% else %><li><% end %>
											<%= link_to "Youtube", youtube_path %>
										</li>
									</ul>

									<nav class="tabbable"> <!-- Only required for left/right tabs -->
										<div class="tab-content">
											<div class="tab-pane active" id="facebook">
												<%= yield %>
											</div>
											<div class="tab-pane" id="twitter">
											</div>
											<div class="tab-pane" id="youtube">
											</div>
										</div>
									</nav>

								</nav>
						    </div>
					    </div>
				    </div>
			    </div>
		    <% else %>
		    	<%= yield %>
			<% end %>
