		<footer class="footer">
		  <small>
		  	<%= link_to 'http://www.socialwin.es' do %>
		  	 <%= image_tag("/assets/logo32x32.png", alt: "SocialWin", class: "gravatar", title: "socialwin")  %>
			 SocialWin Analytics
			<% end %>
		  </small>
		  <nav>
		    <ul>
		      <li><small><%= link_to "Condiciones del servicio",   '/terms.html' %></small></li>
		      <li><small><%= link_to "Política de privacidad",   '/private_policy.html' %></small></li>

		      <li><small><%= link_to "Quién somos",   'http://www.socialwin.es/nosotros/vision/' %></small></li>
		      <li><small><%= link_to "Contacto", 'http://www.socialwin.es/contacto/' %></small></li>
		    </ul>
		  </nav>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39506490-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

		</footer>