

	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to root_path, id: "logo" do %>
					SocialWin Analytics <small><em>βeta</em></small> 
				<% end %>
				<nav>
					
					<ul class="nav pull-right">
		
						<% if signed_in? %>

							<% if is_active?(FACEBOOK) %>
	
							    <% if current_user.pages.count > 0 %>

									<% @page = current_user.pages.find(get_active_page) %>

								    <ul class="nav nav-pills">
								    	<% if session[:active][:screen] == SC_DASHBOARD %>
										<li class="active">
										<% else %>
										<li>
										<% end %>
											<%= link_to "Cuadro de mandos",  root_path %>
										</li>
								    	<% if session[:active][:screen] == SC_COMPETITORS %>
										<li class="active">
										<% else %>
										<li>
										<% end %>
											<%= link_to "Mis competidores",  competitors_user_page_path(current_user, @page.id) %>
										</li>
								    </ul>

    								<li class="search-box">
										<%= form_tag(pages_search_path, :method => "get", class: "navbar-search pull-left") do %>
										  <%= text_field_tag(:search, params[:search], class: "search-query", placeholder: "Buscar competidores...", autocomplete: "off") %>
										<% end %>
									</li>

								<% end %>

							<% end %>

							
							<li id="fat-menu" class="dropdown">

					
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<%= image_for current_user %>
									<span class="user-session"><%= current_user.name %></span><b class="caret"></b>
								</a>
							
								<ul class="dropdown-menu">

									<li><%= link_to user_pages_path(current_user) do %><i class="icon-wrench"></i> Cambiar de página<% end %></li>

							    	<% if session[:active][:screen] == SC_PARTICIPA %>
									<li class="active">
									<% else %>
									<li>
									<% end %>						
										<%= link_to habla_path do %>
										<i class="icon-comment"></i> Participa
										<% end %> 
									</li>


									<li class="divider"></li>
									<li>
										<%= link_to signout_path, method: "delete" do %><i class="icon-remove"></i> Cerrar sesión<% end %>
									</li>
								</ul>
							</li>


						<% else %>

							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<small>Empezar ahora</small> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu signinmenu">
									<li><%= link_to "Facebook", '/auth/facebook', class: "btn btn-small btn-primary" %></li>
									<!-- <li><%= link_to "Twitter", "/auth/twitter", class: "btn btn-small btn-info" %></li> -->
								</ul>
							</li>

						<% end %>

					</ul>
				</nav>
			</div>
		</div>
	</header>