<div class="menu_metricas">
	<div style="max-width: 340px; padding: 8px 0;" class="well">
		<ul class="nav nav-list">

			<li class="nav-header">Mi Perfil</li>
				<%= menu_link('Mis Páginas', 'icon-list', user_pages_path(current_user)) %>
				<%= menu_link('Mis competidores', 'icon-search', @page.nil? ? root_url : competitors_user_page_path(current_user, @page)) %>
			<li class="divider"></li>				
			<li class="nav-header">Métricas</li>
				<%= menu_link('Engagement', 'icon-home', facebook_engage_path) %>
				<%= menu_link('Vista General', 'icon-globe', facebook_general_path) %>
				<%= menu_link('Timeline', 'icon-random', facebook_path) %>
<!--
		    	<li class="disabled"><a href="#">Tamaño</a></li>
		    	<li class="disabled"><a href="#">Crecimiento</a></li>
			    <li class="disabled"><a href="#">Actividad</a></li>
			    <li class="disabled"><a href="#">Interacción</a></li>
			    <li class="disabled"><a href="#">Embajadores</a></li>
			    <li class="disabled"><a href="#">Influence</a></li>
			    <li class="disabled"><a href="#">Sentiment</a></li>
-->
			<li class="divider"></li>
				<%= menu_link('Comentarios', 'icon-comment', habla_path) %>
		</ul>
	</div>
</div>

