<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="SocialWin, monitorización redes sociales">
    	<meta name="author" content="socialwin.es">
    	<%= favicon_link_tag 'favicon.ico' %>
		<%= stylesheet_link_tag "app", "shared", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shared/shim' %>
		<%= render 'layouts/shared/analytics'%>
	</head>
	<body>
		<%= render 'layouts/shared/header' %>

			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>

			<%= render 'layouts/app/body' %>
	

		<%= render 'layouts/shared/footer' %>

		<%= debug(params) if Rails.env.development? %>
		<%= debug(session) if Rails.env.development? %>
		<%= debug(cookies) if Rails.env.development? %>
	</body>
</html>