<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>

		<div class="container">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>

			<% if signed_in? %>	
			    <div class="row">
				    <div class="span12">
					    <div class="row">
						    <aside class="span2">
					    		<%= render 'layouts/menu' %>
						    </aside>
						    <div class="span10">

								<nav class="tabbable"> <!-- Only required for left/right tabs -->
									<ul class="nav nav-tabs">
										<li class="active"><a href="#facebook" data-toggle="tab">Facebook</a></li>
										<li><a href="#twitter" data-toggle="tab">Twitter</a></li>
										<li><a href="#youtube" data-toggle="tab">Youtube</a></li>
									</ul>

									<nav class="tabbable"> <!-- Only required for left/right tabs -->
										<div class="tab-content">
											<div class="tab-pane active" id="facebook">
												<%= yield %>
											</div>
											<div class="tab-pane" id="twitter">
												<%= yield %>
											</div>
											<div class="tab-pane" id="youtube">
												<%= yield %>
											</div>
										</div>
									</nav>

								</nav>
						    </div>
					    </div>
				    </div>
			    </div>
		    <% else %>
		    	<%= yield %>
			<% end %>


			<%= render 'layouts/footer' %>

			<%= debug(params) if Rails.env.development? %>

			<%= debug(session) if Rails.env.development? %>
			<%= debug(cookies) if Rails.env.development? %>
		</div>

	</body>
</html>
